*{font-family: 'Roboto', sans-serif;}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}

.navbar{
    background-color: #dcffd9;
    color: #001f07;
}

body{
    background-color: #e8ffe6;
    color: #001f07;
}

#mapid { height: 500px; }
