*{font-family: 'Roboto', sans-serif;}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}

.navbar{
    background-color: #dcffd9;
    color: #001f07;
}

body{
    background-color: #edf9ec;
    color: #001f07;
}

#mapid { height: 500px; }

.collapsible {
  background-color: #dcffd9;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.coll-content {
  padding: 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.avatar {
  vertical-align: baseline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

img.resize {
  margin-left: auto;
  margin-right: auto;
  max-width:100px;
  max-height:100px;
  display: block;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 16px;
  text-align: center;
}